.outer{
	/*border:solid #333333 1px;*/
	width:100%;
	height:1100px;
}
.header{
	/*border:solid #000099 1px;*/
	width:100%;
	height:100px;
}
.footer{
	/*border:solid #999999 1px;*/
	width:100%;
	height:100px;
	float:left;
}
.box{
	/*border:dotted #660000 1px;*/
	width:250px;
	height:500px;
}
.menu{
	
	width:100px;
	height:25px;
	float:left;
	margin:15px;
	text-align:center;
	padding-top:8px;
}
a{
	
	color:#333333;
	padding:10px 10px 10px 10px;
	text-decoration:none;
	border-radius:12px;
	transition:background-color 5s;
}
a:hover{

	background-color:#333333;
	color:#FFFFFF;
	border-radius:12px;
}
li{
	float:left;
}
li:hover{
	text-decoration:underline;
}
select{
	border:solid #666666 1px;
	padding:5px;
	border-radius:5px;
	
}

.ab_1{
	background:transparent;
	}
.ab_1:hover{
	background:#000000;
	}

.ab_2{
	background:#00FF33;
	}
	.ab_2:hover{
	background-color:#0066CC;
	}